*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #282d42;
    --color-primary-dark: #111729; // primary-dark
    --color-primary-light-1:  #1d1b48; //primary-light-1
    --color-primary-light-2:  #7a74ff; //primary-light-2

    --color-light-gray: #dbdbdb;
    --color-dark-gray: #ccccccd5;
    --color-white: #fff;
    --color-black: #000;
}