// Token utilities
.shrink{ 
    height: var(--shrink-size);
}

.bg-primary{
    background-color: var(--color-primary);
}

.font-size-200{
    font-size: clamp(.79rem, 1.3vw, .87rem);
}

.font-size-300{
    font-size: clamp(.9rem, 1.5vw, 1.1rem);
}

// Layout
.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-gap-small{
    display: flex;
    gap: var(--space-300);
}

.flex-gap-meduim{
    display: flex;
    gap: var(--space-400);  
}

.flex-gap-big{
    display: flex;
    gap: var(--space-500);
}

.flow-centered{
    display: block;
    margin: 0 auto;
}

.stack-gap-small{
    > * + *{
        margin-top: var(--space-300);
    }
}

.stack-gap-meduim{
    > * + *{
        margin-top: var(--space-400);
    }
}

.stack-gap-big{
    > * + *{
        margin-top: var(--space-500);
    }
}