@use "abstract/variables" as *;

@use "layouts/header";
@use "layouts/search-box";

@use "components/search-bar";
@use "components/avatar";

@use "base/animations";
@use "base/utilities";
@use "base/base";
@use "base/typography";

@use "pages/home";