
.section-profile {
    margin-top: 26vh;
    min-height: 74vh;
    background-color: var(--color-primary);
    transform: translateY(74vh);
    animation: slideUp 1s ease-out;
    animation-fill-mode: forwards;
    padding: 0 5rem;
}

.profile-grid{
    display: grid;
    grid-template-areas: 
    "avatar state state state"
    "info info info info"
    "repo repo repo repo";    
}

.profile {
    max-width: 70rem;
    margin: 0 auto;

    &__avatar{
        transform: translateY(.5rem);
    }

    &__info {
        &-1{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 2rem;
            margin-top: 1.7rem;
        }
        &-2{
            display: flex;
            flex-direction: column;
            margin-bottom: 2.5rem;
        }
    }

    &__stats {
        display: flex;
        flex-direction: row;
        margin-left: 2.5rem;
        margin-top: 1.2rem;
    }
    
    &__stat {
        background-color: var(--color-primary-dark);
        border-radius: .8rem;
        padding: .4em .4em;

        &:not(:first-child) {
            margin-left: 1.2rem;
        }
    }
    
    &__stat-label {
        display: inline-block;
        color: var(--color-light-gray);
        padding: 0.3em 1em;
        border-right: 1px solid var(--color-light-gray);
    }
    
    &__stat-value {
        padding: 0.5em 1.2em;
        display: inline-block;
    }
}

.repository{
    display: flex;
    flex-direction: column;
    border-radius: 1.3rem;
    padding: 1.7em;
    background-image: linear-gradient(95deg, var(--color-primary-dark) 3%, var(--color-primary-light-1) 99.61%);

    &__link{
        &:visited, 
        &:link{
            display: inline-block;
            text-decoration: none;
            color: var(--color-dark-gray);
        }
    }

    &__title{
        color: var(--color-light-gray);
        margin-bottom: .7rem;
    }
    
    &__description{
        margin-bottom: 1.2rem;
    }
    
    &__stats {
        display: flex;
        flex-direction: row;
    }
    
    &__stat{
        font-size: .9rem;
    
        &:not(:first-child){
            margin-left: 1.7rem;
        }
    }

    &__stat-icon{
        margin-right: .5rem;
    }
}
