@use '../abstract/variables' as *;

.section-profile {
    margin-top: 26vh;
    min-height: 74vh;
    background-color: $color-primary;
    transform: translateY(74vh);
    animation: slideUp 1s ease-out;
    animation-fill-mode: forwards;
    padding: 0 10rem;
}

.profile {
    max-width: 110rem;
    margin: 0 auto;

    &__avatar{
        transform: translateY(1.5rem);
    }

    &__info {
        &-1{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 3.5rem;
        }
        &-2{
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }

    &__stats {
        display: flex;
        flex-direction: row;
        margin-left: 5rem;
        margin-top: 2rem;
    }

    &__stat {
        background-color: $color-primary-dark;
        border-radius: 1.3rem;
        padding: .6rem .9rem;

        &:not(:first-child) {
            margin-left: 2rem;
        }

    }
    
    &__stat-label {
        display: inline-block;
        color: rgba($color-light-gray, 0.4);
        padding: 0.6rem 1.5rem;
        border-right: 0.1rem solid rgba($color-light-gray, 0.2);
    }

    &__stat-value {
        padding: 0.6rem 1.5rem;
        display: inline-block;
    }
}

.repository{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    padding: 2rem;
    background-image: linear-gradient(95deg, $color-primary-dark 3%, $color-primary-light-1 99.61%);

    &__link{
        &:visited, 
        &:link{
            display: inline-block;
            text-decoration: none;
            color: $color-dark-gray;
        }
    }

    &__title{
        color: $color-light-gray;
        margin-bottom: 1rem;
    }
    
    &__description{
        margin-bottom: 2rem;
    }
    
    &__stats {
        display: flex;
        flex-direction: row;
    }
    
    &__stat{
        font-size: 1.3rem;
    
        &:not(:first-child){
            margin-left: 2rem;
        }
    }

    &__stat-icon{
        margin-right: .5rem;
    }
}
