@use '../abstract/variables' as *;

.section-profile {
    margin-top: 35vh;
    min-height: 74vh;
    background-color: $color-primary;
    transform: translateY(74vh);
    animation: slideUp 1s ease-out;
    animation-fill-mode: forwards;
    padding: 0 10rem;
}

.profile {
    max-width: 120rem;
    margin: 0 auto;

    &__info {
        &-1{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 2.5rem;
        }
        &-2{
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }

    &__stats {
        display: flex;
        flex-direction: row;
        margin-left: 5rem;
    }

    &__stat {
        background-color: $color-primary-dark;
        border-radius: 1.3rem;
        padding: 0.8rem;

        &:not(:first-child) {
            margin-left: 2rem;
        }

        &-label {
            display: inline-block;
            color: rgba($color-light-gray, 0.4);
            // margin-right: 1rem;
            padding: 0.8rem 1.5rem;
            border-right: 0.1rem solid rgba($color-light-gray, 0.2);
        }

        &-value {
            padding: 0.8rem 1.5rem;
            display: inline-block;
        }
    }

    &__repositories{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: start;
    }

    &__repository {
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        padding: 2rem;
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light-1);
        // margin-bottom: 3rem;

        &-title{
            margin-bottom: 1rem;
        }

        &-description{
            margin-bottom: 2rem;
        }

        &-stats {
            display: flex;
            flex-direction: row;
        }

        &-stat{
            font-size: 1.3rem;

            &:not(:first-child){
                margin-left: 2rem;
            }
            &-icon{
                margin-right: .5rem;
            }
        }
    }

}
