@use "../abstract/variables" as *;

.profile{
    min-height: 74vh;
    margin-top: 35vh;
    transform: translateY(74vh);
    background-color: $color-primary;
    animation: slideUp 1s ease-out;
    animation-fill-mode: forwards; 
    
    &__stat{
        background-color: $color-secondary;
        margin-left: 2rem;
        border-radius: 2rem;
        font-size: 1.4rem;   
        padding: .8rem;

        &-label{
            display: inline-block;
            color: rgba($color-light-gray, .4);
            // margin-right: 1rem;
            padding: .8rem 1.5rem;
            border-right: .1rem solid rgba($color-light-gray, .2);
        }

        &-value{
            padding: .8rem 1.5rem;
            display: inline-block;
        }
    }
}
