/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --color-primary: #282d42;
  --color-primary-dark: #111729;
  --color-primary-light-1: #1d1b48;
  --color-primary-light-2: #7a74ff;
  --color-light-gray: #dbdbdb;
  --color-dark-gray: #ccccccd8;
  --color-white: #fff;
  --color-black: #000;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-light-gray);
  font-size: clamp(0.87rem, 1.8vw, 1.1rem);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h1, h2, h3 {
  text-wrap: none;
}

input, button {
  color: inherit;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

.move-up-animation {
  transform: translateY(-38vh);
  transition: transform 1s;
}

.bg-primary {
  background-color: var(--color-primary);
}

.flex-plain {
  display: flex;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-gap-small {
  display: flex;
  gap: 0.7em;
}

.flex-gap-meduim {
  display: flex;
  gap: 1em;
}

.flex-gap-big {
  display: flex;
  gap: 1.5em;
}

.flow-centered {
  display: block;
  margin: 0 auto;
}

.stack-gap-small > * + * {
  margin-top: 1em;
}

.stack-gap-meduim > * + * {
  margin-top: 1.5em;
}

.stack-gap-big > * + * {
  margin-top: 2em;
}

.font-size-200 {
  font-size: 0.8em;
}

.font-size-300 {
  font-size: 0.9em;
}

.header {
  position: absolute;
  inset: 0;
  background-image: url(../assets/galaxy.jpg);
  background-position: center;
  background-size: cover;
}

.btn-text {
  color: var(--color-dark-gray);
  text-align: center;
}

.search__bar {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 2.8em;
}
.search__input {
  width: clamp(14rem, 50vw, 30rem);
  background-color: transparent;
  border: none;
  padding: 0.7rem 1.2rem;
}
.search__input::placeholder {
  color: rgb(175, 175, 175);
}
.search__label {
  font-weight: 500;
  text-align: center;
  display: block;
}
.search__icon {
  height: 55%;
}
.search__button {
  background-color: transparent;
  border: none;
  padding: 0.3em 1em;
}

.section-profile {
  margin-top: 28vh;
  min-height: 72vh;
  transform: translateY(75vh);
  animation: slideUp 1s ease-out;
  animation-fill-mode: forwards;
  padding: 0 2em 2em 2em;
}

.avatar-box {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.5rem solid transparent;
  width: clamp(8rem, 18vw, 10rem);
}
.avatar-box__img {
  object-fit: cover;
}

.profile {
  max-width: 70rem;
}
.profile__avatar {
  transform: translateY(0.5rem);
  margin-top: -9rem;
  flex: auto 0 0;
  min-width: 7rem;
  align-self: flex-end;
}
.profile__info-1 {
  padding-top: 1.4em;
}
.profile__stats {
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
}
.profile__stat {
  background-color: var(--color-primary-dark);
  border-radius: 0.8rem;
  padding: 0.4em 0.2em;
}
.profile__stat > * {
  text-wrap: nowrap;
}
.profile__stat-label {
  display: inline-block;
  color: var(--color-dark-gray);
  padding: 0.2em 1em;
  border-right: 1px solid var(--color-dark-gray);
}
.profile__stat-value {
  display: inline-block;
  padding: 0.5em 1em;
}

.repo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  align-items: start;
}

.repository {
  border-radius: 1.3rem;
  padding: 1.7em;
  background-image: linear-gradient(95deg, var(--color-primary-dark) 3%, var(--color-primary-light-1) 99.61%);
}
.repository__link:visited, .repository__link:link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark-gray);
}
.repository__title {
  color: var(--color-light-gray);
}
.repository__stat-icon {
  margin-right: 0.5rem;
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 900px) {
  .profile__stat {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
    padding: 0.7em 1.2em;
  }
  .profile__stat-label {
    border-right: none;
    padding: 0;
  }
  .profile__stat-value {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .profile {
    text-align: center;
  }
  .profile__info-1 {
    display: block;
    padding-top: 1em;
  }
  .profile__info-1 > * + * {
    margin-top: 1em;
  }
  .profile__avatar {
    margin: -5em auto 0 auto;
    transform: translate(0);
  }
  .profile__stats {
    justify-content: center;
  }
  .repo-grid {
    grid-template-columns: 1fr;
  }
  .repository {
    text-align: start;
  }
}

/*# sourceMappingURL=App.css.map */
