.header {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/galaxy.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search--move-up {
  transform: translateY(-36vh);
  transition: all 1s;
}
.search__bar {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4.7rem;
  margin: 1rem 0;
  border: 0.2rem solid transparent;
  background-color: #282d42;
  background-origin: border-box;
  transition: box-shadow 0.5s ease-out, border-color 0.4s ease-out;
}
.search__bar:hover {
  box-shadow: 0rem 0.3rem 3rem rgba(122, 116, 255, 0.3);
}
.search__bar:active, .search__bar:focus-within {
  border-color: #7a74ff;
}
.search__icon {
  height: 80%;
}
.search__input {
  width: 40rem;
  outline: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-size: inherit;
}
.search__input::placeholder {
  color: rgb(175, 175, 175);
}
.search__label {
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
}
.search__button {
  background-color: transparent;
  color: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding: 1rem;
}

.avatar-box {
  height: 15rem;
  aspect-ratio: 1/1;
  width: auto;
  border-radius: 2rem;
  overflow: hidden;
  border: 0.7rem solid transparent;
  background-color: #282d42;
}
.avatar-box__img {
  height: 100%;
  object-fit: cover;
}

.btn-text {
  display: block;
  border: none;
  background: none;
  color: rgba(204, 204, 204, 0.8352941176);
  margin: 5rem auto;
  font-size: 1.4rem;
  cursor: pointer;
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
  }
}
.margin-top-neg-big {
  margin-top: -9rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.5rem;
  color-scheme: light dark;
  color: #dbdbdb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-secondary {
  font-size: 2.8rem;
}

.heading-tertiary {
  font-size: 1.6rem;
}

.section-profile {
  margin-top: 26vh;
  min-height: 74vh;
  background-color: #282d42;
  transform: translateY(74vh);
  animation: slideUp 1s ease-out;
  animation-fill-mode: forwards;
  padding: 0 10rem;
}

.profile {
  max-width: 110rem;
  margin: 0 auto;
}
.profile__avatar {
  transform: translateY(1.5rem);
}
.profile__info-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 3.5rem;
}
.profile__info-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.profile__stats {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-top: 2rem;
}
.profile__stat {
  background-color: #111729;
  border-radius: 1.3rem;
  padding: 0.6rem 0.9rem;
}
.profile__stat:not(:first-child) {
  margin-left: 2rem;
}
.profile__stat-label {
  display: inline-block;
  color: rgba(219, 219, 219, 0.4);
  padding: 0.6rem 1.5rem;
  border-right: 0.1rem solid rgba(219, 219, 219, 0.2);
}
.profile__stat-value {
  padding: 0.6rem 1.5rem;
  display: inline-block;
}

.repository {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
  background-image: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
}
.repository__link:visited, .repository__link:link {
  display: inline-block;
  text-decoration: none;
  color: rgba(204, 204, 204, 0.8352941176);
}
.repository__title {
  color: #dbdbdb;
  margin-bottom: 1rem;
}
.repository__description {
  margin-bottom: 2rem;
}
.repository__stats {
  display: flex;
  flex-direction: row;
}
.repository__stat {
  font-size: 1.3rem;
}
.repository__stat:not(:first-child) {
  margin-left: 2rem;
}
.repository__stat-icon {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=App.css.map */
