.header {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/galaxy.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search--move-up {
  transform: translateY(-36vh);
  transition: all 1s;
}
.search__bar {
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 2.6rem;
  margin: 0.8rem 0;
  border: 2px solid transparent;
  background-color: var(--color-primary);
  background-origin: border-box;
  transition: border-color 0.4s ease-out;
}
.search__bar:active, .search__bar:focus-within {
  border-color: var(--color-primary-light-2);
}
.search__icon {
  height: 60%;
}
.search__input {
  width: 30rem;
  outline: none;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 0.9rem;
}
.search__input::placeholder {
  color: rgb(175, 175, 175);
}
.search__label {
  font-weight: 500;
  display: inline-block;
  font-size: 0.9rem;
}
.search__button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0.3em 1em;
}

.avatar-box {
  height: 11rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.5rem solid transparent;
  background-color: var(--color-primary);
}
.avatar-box__img {
  height: 100%;
  object-fit: cover;
}

.btn-text {
  display: block;
  border: none;
  background: none;
  color: var(--color-dark-gray);
  margin: 2em auto;
  font-size: 1rem;
  cursor: pointer;
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
  }
}
.margin-top-neg-big {
  margin-top: -9rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #282d42;
  --color-primary-dark: #111729;
  --color-primary-light-1: #1d1b48;
  --color-primary-light-2: #7a74ff;
  --color-light-gray: #dbdbdb;
  --color-dark-gray: #ccccccd5;
  --color-white: #fff;
  --color-black: #000;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: var(--color-light-gray);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.section-profile {
  margin-top: 26vh;
  min-height: 74vh;
  background-color: var(--color-primary);
  transform: translateY(74vh);
  animation: slideUp 1s ease-out;
  animation-fill-mode: forwards;
  padding: 0 5rem;
}

.profile-grid {
  display: grid;
  grid-template-areas: "avatar state state state" "info info info info" "repo repo repo repo";
}

.profile {
  max-width: 70rem;
  margin: 0 auto;
}
.profile__avatar {
  transform: translateY(0.5rem);
}
.profile__info-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 2rem;
  margin-top: 1.7rem;
}
.profile__info-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.profile__stats {
  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
  margin-top: 1.2rem;
}
.profile__stat {
  background-color: var(--color-primary-dark);
  border-radius: 0.8rem;
  padding: 0.4em 0.4em;
}
.profile__stat:not(:first-child) {
  margin-left: 1.2rem;
}
.profile__stat-label {
  display: inline-block;
  color: var(--color-light-gray);
  padding: 0.3em 1em;
  border-right: 1px solid var(--color-light-gray);
}
.profile__stat-value {
  padding: 0.5em 1.2em;
  display: inline-block;
}

.repository {
  display: flex;
  flex-direction: column;
  border-radius: 1.3rem;
  padding: 1.7em;
  background-image: linear-gradient(95deg, var(--color-primary-dark) 3%, var(--color-primary-light-1) 99.61%);
}
.repository__link:visited, .repository__link:link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark-gray);
}
.repository__title {
  color: var(--color-light-gray);
  margin-bottom: 0.7rem;
}
.repository__description {
  margin-bottom: 1.2rem;
}
.repository__stats {
  display: flex;
  flex-direction: row;
}
.repository__stat {
  font-size: 0.9rem;
}
.repository__stat:not(:first-child) {
  margin-left: 1.7rem;
}
.repository__stat-icon {
  margin-right: 0.5rem;
}

/*# sourceMappingURL=App.css.map */
