.bg-fixed {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(../assets/galaxy.jpg);
    background-position: center;
    background-size: cover;
}

header.is-profile-active{
    height: max(20rem, 30vh);
}

.search-bar{
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 2.8em;

    input {
        width: clamp(14rem, 50vw, 30rem);
        background-color: transparent;
        border: none;
        padding: 0.7rem 1.2rem;
    
        &::placeholder {
            color: rgb(175, 175, 175);
        }
    }    

    button {
        background-color: transparent;
        border: none;
        padding: 0.3em 1em;
    }
}

.section-profile {
    min-height: 70vh;
    transform: translateY(75vh);
}

.section-profile.active {
    transform: translateY(0);
    transition: slideUp 1s ease-out;
}

.avatar-box{
    aspect-ratio: 1/1;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.5rem solid transparent;
    width: clamp(9.5rem, 18vw, 11rem);

    img {
        object-fit: cover;
    }
}

.profile {
    max-width: 70rem;
    padding: var(--space-500);

    .avatar-box {
        transform: translateY(0.5rem);
        margin-top: -9rem;
        flex: auto 0 0;
        min-width: 7rem;
        align-self: flex-end;
    }
}

.profile__stats {
    display: flex;
    gap: 0.5em;
    align-items: flex-start;

    & > div {
        background-color: var(--color-primary-dark);
        border-radius: 0.8rem;
        padding: 0.4em 0.2em;
        white-space: nowrap;
    }
}

.profile__stat-label {
    display: inline-block;
    color: var(--color-dark-gray);
    padding: 0.2em 1em;
    border-right: 1px solid currentColor;
}

.profile__stat-value {
    display: inline-block;
    padding: 0.5em 1em;
}

.repo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: var(--space-400);
    align-items: start;
}

.repository {
    border-radius: 1.3rem;
    position: relative;
    padding: 1.7em;
    background-image: linear-gradient(
        95deg,
        var(--color-primary-dark) 3%,
        var(--color-primary-light-1) 99.61%
    );
    overflow: hidden;
}

.svg-icon{
    fill: currentColor;
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
}

.stretched-link {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

/*--------- Media Queries ---------*/

/* 850px on 16px default font size */
@media screen and (max-width: 53.125rem) { 
    .profile__stats{
        & > div {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 0.3em;
            padding: 0.7em 1.2em;
        }
    }
    
    .profile__stat-label {
        border-right: none;
        padding: 0;
    }

    .profile__stat-value {
        padding: 0;
    }
}

/* screen 700px on 16px default font size*/
@media screen and (max-width: 43.75rem)  {
    .profile {
        padding-top: 1em;

        & > *:not(.repo-grid) {
            display: block;
            text-align: center;
        }

        .avatar-box {
            margin: calc(-3 * var(--space-500)) auto var(--space-300) auto;
            transform: translate(0);
        }
    }

    .profile__stats {
        justify-content: center;
    }
}
