/*--------- Token utilities ---------*/

.bg-primary{
    background-color: var(--color-primary);
}

.font-size-200{
    font-size: clamp(.79rem, 1.3vw, .87rem);
}

.font-size-300{
    font-size: clamp(.9rem, 1.5vw, 1.1rem);
}

/* Layout */
.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flow-centered{
    display: block;
    margin: 0 auto;
}

.flex-200{
    display: flex;
    gap: var(--space-200);
}

.flex-300{
    display: flex;
    gap: var(--space-300);
}

.flex-400{
    display: flex;
    gap: var(--space-400);
}

.flex-500{
    display: flex;
    gap: var(--space-500);
}

.stack-200{
    /* exclude adding margin to stretched links*/
    & > *:not(.stretched-link) + *:not(.stretched-link){
        margin-top: var(--space-200);
    }
}

.stack-300{
    /* exclude adding margin to stretched links*/
    & > *:not(.stretched-link) + *:not(.stretched-link){
        margin-top: var(--space-300);
    }
}

.stack-400{
    /* exclude adding margin to stretched links*/
    & > *:not(.stretched-link) + *:not(.stretched-link){
        margin-top: var(--space-400);
    }
}

.stack-500{
    /* exclude adding margin to stretched links*/
    & > *:not(.stretched-link) + *:not(.stretched-link){
        margin-top: var(--space-500);
    }
}
