$color-primary: #282d42;
$color-primary-dark: #111729 ;
$color-primary-light-1:  #1d1b48 ;
$color-primary-light-2:  #7a74ff ;

$color-light-gray: #dbdbdb;
$color-dark-gray: #ccccccd5;
$color-white: #fff;
$color-black: #000;
