.search {
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &--move-up {
        transform: translateY(-36vh);
        transition: all 1s;
    }

    &__bar {
        display: flex;
        flex-direction: row;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 2.6rem;
        margin: .8rem 0;
        border: 2px solid transparent;
        background-color: var(--color-primary);
        background-origin: border-box;
        transition:
            border-color 0.4s ease-out;

        &:active,
        &:focus-within {
            border-color: var(--color-primary-light-2);
        }
    }

    &__icon {
        height: 60%;
    }

    &__input {
        width: 30rem;
        outline: none;
        background-color: transparent;
        color: inherit;
        outline: none;
        border: none;
        padding: .7rem 1.2rem;
        font-size: .9rem;

        &::placeholder {
            color: rgb(175, 175, 175);
        }
    }

    &__label {
        font-weight: 500;
        display: inline-block;
        font-size: .9rem;
    }

    &__button {
        background-color: transparent;
        color: inherit;
        border: none;
        padding: .3em 1em;
    }
}
